<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Transférer</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <div class="header d-flex justify-content-between py-3">
        <div>Pay My Buddy</div>
        <nav>
            <a th:href="@{/transfers/transfer/1}" class="active">Transférer</a>
            <a th:href="@{/profile}">Profil</a>
            <a th:href="@{/ajouter-relation}">Ajouter relation</a>
            <a th:href="@{/logout}">Se déconnecter</a>
        </nav>
    </div>

    <form th:action="@{/transfers/transfer/1}" th:object="${newTransfer}" method="post" class="mb-5">
        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="receiver">Sélectionner une relation</label>
                <select id="receiver" class="form-control" th:field="*{receiver.id}">
                    <option th:each="relation : ${relations}" th:value="${relation.id}" th:text="${relation.user.username}">Relation</option>
                </select>
            </div>
            <div class="form-group col-md-4">
                <label for="description">Description</label>
                <input type="text" id="description" class="form-control" placeholder="Description" th:field="*{description}" />
            </div>
            <div class="form-group col-md-2">
                <label for="amount">Montant</label>
                <input type="number" id="amount" class="form-control" placeholder="0€" th:field="*{amount}" />
            </div>
            <div class="form-group col-md-2 d-flex align-items-end">
                <button type="submit" class="btn btn-primary btn-block">Payer</button>
            </div>
        </div>
    </form>

    <h2 class="mt-5">Mes Transactions</h2>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Relations</th>
            <th>Description</th>
            <th>Montant</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="transaction : ${transfers}">
            <td th:text="${transaction.receiver.username}">Relation</td>
            <td th:text="${transaction.description}">Description</td>
            <td th:text="${transaction.amount}">Montant</td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>