<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Transférer</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

</head>
<body>
<div class="container">
    <div class="header d-flex justify-content-between py-3">
        <div>Pay My Buddy</div>
        <div><a th:href="@{/transferer}" class="active">Transférer</a></div>
        <div><a th:href="@{/profil}">Profil</a></div>
        <div><a th:href="@{/ajouter-relation}">Ajouter relation</a></div>
        <div><a th:href="@{/logout}">Se déconnecter</a></div>
    </div>
    <h1 class="text-center">Page de transfert</h1>
    <form th:action="@{/transfers/transfer}" th:object="${newTransfer}" method="post">
        <div class="form-group mx-auto" style="width: 300px;">
            <label for="receiver">Sélectionner une relation</label>
            <select id="receiver" class="form-control" th:field="*{receiver}">
                <option th:each="relation : ${relations}" th:value="${relation}" th:text="${relation}">Relation</option>
            </select>
        </div>
        <div class="form-group mx-auto" style="width: 300px;">
            <label for="description">Description</label>
            <input type="text" id="description" class="form-control" placeholder="Description" th:field="*{description}" />
        </div>
        <div class="form-group mx-auto" style="width: 300px;">
            <label for="amount">Montant</label>
            <input type="number" id="amount" class="form-control" placeholder="0€" th:field="*{amount}" />
        </div>
        <button type="submit" class="btn btn-primary btn-block mt-3">Payer</button>
    </form>
    <h2 class="mt-5">Mes Transactions</h2>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Relations</th>
            <th>Description</th>
            <th>Montant</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="transfer : ${transfers}">
            <td th:text="${transfer.receiver}">Relation</td>
            <td th:text="${transfer.description}">Description</td>
            <td th:text="${transfer.amount}">Montant</td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
